extends ./layout/index

block contenido 
    main.container.mt-5
        .row 
                .col-md-5 
                    img(src="img/nosotros.jpg", alt="Imagen sobre nosotros" class="img-fluid")
                .col-md-7 
                    h1 #{pagina}
                    blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet tristique leo. Integer et diam nec massa sollicitudin pellentesque a id risus. Suspendisse eu vestibulum risus. Donec at tristique enim, nec lobortis felis.

                    p fringilla iaculis nulla ut imperdiet. Suspendisse fringilla nec lectus quis hendrerit. Sed fringilla fringilla sem, sit amet fringilla tellus fringilla in. Suspendisse quis hendrerit turpis, vel venenatis nunc. Aliquam accumsan risus diam, a sodales purus suscipit in.

                    p facilisis sapien in ex efficitur porttitor. Sed et mauris diam. Cras quis ultricies massa. Duis nulla nisl, congue eget facilisis imperdiet, scelerisque in lacus. Quisque in ligula eget orci ultrices dictum. Nulla finibus commodo tellus, non tristique libero placerat ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vel quam eget mi dignissim malesuada id quis lorem. Pellentesque ac molestie justo. Duis mollis pretium lorem, id mollis felis lobortis id.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Ut vel quam eget mi dignissim malesuada id quis lorem. Pellentesque ac molestie justo. Duis mollis pretium lorem, id mollis felis lobortis id.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Ut vel quam eget mi dignissim malesuada id quis lorem. Pellentesque ac molestie justo. Duis mollis pretium lorem, id mollis felis lobortis id.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Ut vel quam eget mi dignissim malesuada id quis lorem. Pellentesque ac molestie justo. Duis mollis pretium lorem, id mollis felis lobortis id.